Repository amplience/dc-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, documentation, content-item, content-repository, content-type, content-type-schema, events, extension, hub, search-index, settings

chore(master): release 0.20.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: repo, documentation

fix: additional error handling for content hub client network errors
  src/commands/content-item/import.ts
  src/common/ch-api/api/services/ApiClient.ts
  src/common/media/media-rewriter.spec.ts
  src/common/media/media-rewriter.ts
Labels: test, content-item

fix: throw caught exceptions to be picked up by the error handler
  jest.config.js
  src/commands/content-type-schema/archive.spec.ts
  src/commands/content-type-schema/archive.ts
  src/commands/content-type-schema/unarchive.spec.ts
  src/commands/content-type-schema/unarchive.ts
  src/commands/content-type/archive.spec.ts
  src/commands/content-type/archive.ts
  src/commands/content-type/unarchive.spec.ts
  src/commands/content-type/unarchive.ts
Labels: repo, test, content-type, content-type-schema

feat: tar-813 Updated dependerncy to point ot correct hash
  package-lock.json
  package.json
Labels: repo

fix: revert error to return to prevent breaking changes
  src/commands/content-type-schema/archive.spec.ts
  src/commands/content-type-schema/archive.ts
  src/commands/content-type-schema/unarchive.spec.ts
  src/commands/content-type-schema/unarchive.ts
  src/commands/content-type/archive.spec.ts
  src/commands/content-type/archive.ts
  src/commands/content-type/unarchive.spec.ts
  src/commands/content-type/unarchive.ts
Labels: test, content-type, content-type-schema

feat: update to latest dc-management-sdk-js
  package-lock.json
  package.json
  src/common/import/publish-queue.spec.ts
  src/common/import/publish-queue.ts
Labels: repo, test

fix: log network error if response status is missing (#192)
  jest.config.js
  src/__snapshots__/error-handler.spec.ts.snap
  src/commands/content-item/import.ts
  src/commands/content-type-schema/archive.spec.ts
  src/commands/content-type-schema/archive.ts
  src/commands/content-type-schema/unarchive.spec.ts
  src/commands/content-type-schema/unarchive.ts
  src/commands/content-type/archive.spec.ts
  src/commands/content-type/archive.ts
  src/commands/content-type/unarchive.spec.ts
  src/commands/content-type/unarchive.ts
  src/common/ch-api/api/services/ApiClient.ts
  src/common/media/media-rewriter.spec.ts
  src/common/media/media-rewriter.ts
  src/error-handler.spec.ts
  src/error-handler.ts
Labels: repo, test, content-item, content-type, content-type-schema

fix: retry content hub http requests at the client layer (#193)
  package-lock.json
  package.json
  src/common/ch-api/http/AxiosHttpClient.spec.ts
  src/common/ch-api/http/AxiosHttpClient.ts
  src/common/media/media-rewriter.spec.ts
  src/common/media/media-rewriter.ts
Labels: repo, test

test: updating error handler snapshots to include timestamp changes
  src/__snapshots__/error-handler.spec.ts.snap
Labels: test

feat: generate iso timestamp for errors (#194)
  src/__snapshots__/cli.spec.ts.snap
  src/__snapshots__/error-handler.spec.ts.snap
  src/cli.spec.ts
  src/error-handler.spec.ts
  src/error-handler.ts
Labels: test

chore(master): release 0.21.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: repo, documentation

feat: allow ingnore schema validation flag on content item create and update
  src/commands/content-item/archive.spec.ts
  src/commands/content-item/archive.ts
  src/commands/content-item/copy.spec.ts
  src/commands/content-item/copy.ts
  src/commands/content-item/import-revert.spec.ts
  src/commands/content-item/import-revert.ts
  src/commands/content-item/import.spec.ts
  src/commands/content-item/import.ts
  src/commands/content-item/move.spec.ts
  src/commands/content-item/move.ts
  src/commands/content-item/unarchive.spec.ts
  src/commands/content-item/unarchive.ts
  src/commands/hub/clean.spec.ts
  src/commands/hub/clean.ts
  src/commands/hub/clone.spec.ts
  src/commands/hub/clone.ts
  src/common/archive/archive-options.ts
  src/common/archive/unarchive-options.ts
  src/interfaces/clean-hub-builder-options.ts
  src/interfaces/clone-hub-builder-options.ts
  src/interfaces/copy-item-builder-options.interface.ts
  src/interfaces/import-item-builder-options.interface.ts
Labels: test, content-item, hub

feat: turn off cli content item schema validation when ignore flag passed
  src/commands/content-item/import.spec.ts
  src/commands/content-item/import.ts
Labels: test, content-item

test: adding unarchive ignore schema validation test coverage
  src/commands/content-item/unarchive.spec.ts
Labels: test, content-item

docs: document commands with ignore schema validation flag
  docs/CONTENT-ITEM.md
  docs/HUB.md
Labels: documentation

.github/labeler.yml:

repo:
  - changed-files:
      - any-glob-to-any-file: './*'

test:
  - changed-files:
      - any-glob-to-any-file:
          - src/**/*.spec.ts
          - src/**/*.ts.snap

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - ./**/*.md

content-item:
  - changed-files:
      - any-glob-to-any-file:
          - ./src/commands/content-item/*.ts

content-repository:
  - changed-files:
      - any-glob-to-any-file:
          - ./src/commands/content-repository/*.ts

content-type:
  - changed-files:
      - any-glob-to-any-file:
          - ./src/commands/content-type/*.ts

content-type-schema:
  - changed-files:
      - any-glob-to-any-file:
          - ./src/commands/content-type-schema/*.ts

events:
  - changed-files:
      - any-glob-to-any-file:
          - ./src/commands/events/*.ts

extension:
  - changed-files:
      - any-glob-to-any-file:
          - ./src/commands/extension/*.ts

hub:
  - changed-files:
      - any-glob-to-any-file:
          - ./src/commands/hub/*.ts

search-index:
  - changed-files:
      - any-glob-to-any-file:
          - ./src/commands/search-index/*.ts

settings:
  - changed-files:
      - any-glob-to-any-file:
          - ./src/commands/settings/*.ts
