Repository amplience/dc-cli, pull requests merged in 2021-06, with the labels that each got.

#77 feat(hub): clean hub command
  src/__snapshots__/cli.spec.ts.snap
  src/commands/content-item/archive.spec.ts
  src/commands/content-item/archive.ts
  src/commands/content-item/copy.spec.ts
  src/commands/content-item/copy.ts
  src/commands/content-item/move.spec.ts
  src/commands/content-item/move.ts
  src/commands/content-item/unarchive.spec.ts
  src/commands/content-item/unarchive.ts
  src/commands/content-type-schema/archive.spec.ts
  src/commands/content-type-schema/archive.ts
  src/commands/content-type/archive.spec.ts
  src/commands/content-type/archive.ts
  src/commands/event/archive.spec.ts
  src/commands/event/archive.ts
  src/commands/hub.ts
  src/commands/hub/clean.spec.ts
  src/commands/hub/clean.ts
  src/commands/hub/model/clean-hub-step-id.ts
  src/commands/hub/model/clean-hub-step.ts
  src/commands/hub/steps/content-clean-step.spec.ts
  src/commands/hub/steps/content-clean-step.ts
  src/commands/hub/steps/schema-clean-step.spec.ts
  src/commands/hub/steps/schema-clean-step.ts
  src/commands/hub/steps/type-clean-step.spec.ts
  src/commands/hub/steps/type-clean-step.ts
  src/common/archive/archive-log.ts
  src/common/archive/archive-options.ts
  src/common/content-item/content-dependancy-tree.spec.ts
  src/common/content-item/content-dependancy-tree.ts
  src/common/content-item/copy-config.spec.ts
  src/common/file-log.spec.ts
  src/common/file-log.ts
  src/common/log-helpers.spec.ts
  src/common/log-helpers.ts
  src/interfaces/clean-hub-builder-options.ts
  src/interfaces/copy-item-builder-options.interface.ts
  src/interfaces/export-item-builder-options.interface.ts
  src/interfaces/import-item-builder-options.interface.ts
Labels: enhancement

#69 fix(export): content type schemas and content types special characters
  src/commands/content-type-schema/export.ts
  src/commands/content-type/__snapshots__/export.spec.ts.snap
  src/commands/content-type/__snapshots__/import.spec.ts.snap
  src/commands/content-type/export.spec.ts
  src/commands/content-type/export.ts
  src/commands/content-type/import.spec.ts
  src/commands/content-type/import.ts
  src/services/export.service.ts
Labels: test

#90 chore: release 0.11.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending
