Repository amplience/dc-cli, pull requests merged in 2021-09, with the labels that each got.

#100 fix: unit test logging
  .github/workflows/nodejs.yml
  jest.config.js
  jest.global.js
  package.json
  src/cli.spec.ts
  src/commands/content-item/archive.spec.ts
  src/commands/content-item/copy.spec.ts
  src/commands/content-item/export.spec.ts
  src/commands/content-item/import-revert.spec.ts
  src/commands/content-item/import.spec.ts
  src/commands/content-item/move.spec.ts
  src/commands/content-item/tree.spec.ts
  src/commands/content-item/unarchive.spec.ts
  src/commands/content-type-schema/archive.spec.ts
  src/commands/content-type-schema/unarchive.spec.ts
  src/commands/content-type/archive.spec.ts
  src/commands/content-type/unarchive.spec.ts
  src/commands/event/archive.spec.ts
  src/commands/hub/clean.spec.ts
  src/commands/hub/clone.spec.ts
  src/commands/hub/steps/content-clean-step.spec.ts
  src/commands/hub/steps/content-clone-step.spec.ts
  src/commands/hub/steps/schema-clean-step.spec.ts
  src/commands/hub/steps/schema-clone-step.spec.ts
  src/commands/hub/steps/settings-clone-step.spec.ts
  src/commands/hub/steps/type-clean-step.spec.ts
  src/commands/hub/steps/type-clone-step.spec.ts
  src/common/archive/archive-log.spec.ts
  src/common/file-log.spec.ts
Labels: test

#108 feat(config): print helpful error if config file is invalid json
  src/cli.ts
  src/commands/configure.spec.ts
  src/commands/configure.ts
Labels: enhancement

#106 chore: update npm dependencies to reduce vulnerabilities
  package-lock.json
  package.json
  src/commands/content-type-schema/archive.spec.ts
  src/commands/content-type-schema/unarchive.spec.ts
  src/commands/content-type/archive.spec.ts
  src/commands/content-type/unarchive.spec.ts
  src/commands/settings/import.spec.ts
  src/common/import/publish-queue.ts
Labels: security vulns

#109 chore: release 0.12.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending
