Repository amplience/dc-cli, pull requests merged in 2022-05, with the labels that each got.

#132 chore: release 0.14.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#138 docs(readme): fix duplicate arguments in config examples
  README.md
Labels: documentation

#141 fix(event): fix event slots list pagination
  package-lock.json
  package.json
Labels: bug

#142 chore: release 0.15.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending
